extends ../base/main

block variables
  - var pageTitle = 'Styleguide'
  //- - var pageMainClass = 'test'
  //- - var baseUrlLvl = 1

block styles
  link(rel='stylesheet' href= URL_file('pages/styleguide', baseUrlLvl))

block content
  .container.sg-container
    h1.sg-heading Styleguide
    //- COLOR START
    h2.sg-heading Colors
    -
      var grayColors = [
        {
          'blue-500': '#2f4858',
          'blue-400': '#406a85',
          'blue-300': '#537992',
          'blue-200': '#75aed6',
          'blue-100': '#dceaf3'
        },
        {
          'green-400': '#486c0c',
          'green-300': '#6fa21a',
          'green-200': '#8dc334',
          'green-100': '#cee8a3',
        },
        {
          'gray-500': '#949597',
          'gray-400': '#d4d5d6',
          'gray-300': '#dadada',
          'gray-200': '#ededed',
          'gray-100': '#f5f5f5',
        }
      ]
    .sg-block
      each item in grayColors
        ul.sg-palette
          each val, key in item
            li(style=`background: ${val};` data-name=key data-value=val)
    //- COLOR START

    //- HEADING START
    h2.sg-heading Heading
    .sg-block
      h1 Heading 1
      h2 Heading 2
      h3 Heading 3
      h4 Heading 4
    //- HEADING END

    h2.sg-heading Forms
    h3.sg-heading Input
    //- FORM START
    -
      var inputFields = {
        input1: {
          label: 'Name',
          value: 'Mike',
          disabled: false
        },
        input2: {
          label: 'Surname',
          value: '',
          disabled: true
        },
      }

    .sg-block
      each val, key in inputFields
        div(class='form-input ' + (val.label ? 'm-label' : ''))
          input(type='text' value=val.value class=val.label ? 'js-form-input' : '')
          label=val.label
    //- FORM END

    //- BUTTON START
    h2.sg-heading Buttons

    .row
      //- Primary
      .col-md-3
        h3.sg-heading Base
        .sg-block
          h4.sg-heading Default
          .sg-block__list
            a.button(href='#') Додати оголошення
          .sg-block__list
            button.button Додати оголошення
          h4.sg-heading Loading
          .sg-block__list
            a.button.button--loading(href='#') Додати оголошення
          .sg-block__list
            button.button.button--loading Додати оголошення
          h4.sg-heading Unable
      //- Secondary button__secondary
      .col-md-3
        h3.sg-heading button with icon
        .sg-block
          h4.sg-heading Default
          .sg-block__list
            a.button(href='#') #[+iconSvg('icon-add', 'button__icon')] Додати оголошення
          .sg-block__list
            button.button #[+iconSvg('icon-add', 'button__icon')] Додати оголошення
          h4.sg-heading Loading
          .sg-block__list
            a.button.button--icon.button--loading(href='#') #[+iconSvg('icon-add', 'button__icon')] Додати оголошення
          .sg-block__list
            button.button.button--icon.button--loading #[+iconSvg('icon-add', 'button__icon')] Додати оголошення
          h4.sg-heading Unable

    //- BUTTON END

    //- ICONS START

    h2.sg-heading Icons
    -
      var iconsSVG = [
        'icon-heart-solid',
        'icon-user',
        'icon-exit',
        'icon-menu',
        'icon-add',
      ]
    if iconsSVG
      ul.sg-icons__list
        each val in iconsSVG
          li.sg-icons__item(data-name=val)
            +iconSvg(val)
    //- ICONS END


block scripts
  //- script(src= URL_file('pages/styleguide', baseUrlLvl, 'js'))
