//- mixins

mixin icon(name, cssClass)
  svg.icon-svg(class=cssClass)
    use(xlink:href=`${URL_file('icons', baseUrlLvl, 'svg')}#${name}`)

//- ==== FORMS START
//- Wrapper
mixin formFieldWrapper(data)
  if data.exist
    - var attributes = {};
    - attributes.class = `form-field ${data.class ? data.class : ''}`;
    - attributes.class += data.group ? ' form-group' : '';
    div&attributes(attributes)
      block
  else
    block

//- Label
mixin label(data, id)
  if data.exist
    - var attributes = {};
    - attributes.for = id;
    - attributes.class = `label ${data.class ? data.class : ''}`;
    label&attributes(attributes)=data.text

//- Input
mixin input(data, id, type)
  each item, index in data
    - var attributes = {};
    - attributes.id = !index && id
    - attributes.class = `input ${item.class ? item.class : ''}`;
    - attributes.value = item.value;
    - attributes.placeholder = item.placeholder;
    - attributes.disabled = item.disabled;
    - attributes.type = type;

    input&attributes(attributes)

mixin checkbox(data)
  each item in data
    - var attrInput = {}
    - attrInput.id = item.id;
    - attrInput.class = item.class;
    - attrInput.checked = item.checked;
    - attrInput.disabled = item.disabled;
    - attrInput.type = 'checkbox';
    - var attrLabel = {}
    - attrLabel.for = item.id
    input&attributes(attrInput)
    label&attributes(attrLabel)=item.text

//- Select
mixin select(data, id)
  each item, index in data
    - var attributes = {}
    - attributes.id = !index && id
    - attributes.class = `js-select select-custom ${item.class ? item.class : ''}`;
    - attributes.class += item.theme ? ` select-custom--${item.theme}` : '';
    - attributes.class += item.size ? ` select-custom--${item.size}` : '';
    - attributes.disabled = item.disabled ? true : false;
    - attributes['data-placeholder'] = item.placeholder ? item.placeholder : false;
    - attributes['data-allow-clear'] = item.placeholder && item.allowClear ? 'true' : false;
    - attributes['data-theme'] = item.theme;
    - attributes['data-minimum-results-for-search'] = item.search ? false : '-1';
    - attributes['data-selection-css-class'] = item.size && `select2-selection--${item.size}`;
    - attributes['data-dropdown-css-class'] = item.size && `select2-dropdown--${item.size}`;
    select&attributes(attributes)
      if item.placeholder
        option
      for val in item.value
        option=val


//- Form Field
mixin formField(data)
  +formFieldWrapper(data.wrapper)
    +label(data.label, data.id)
    case data.type
      when 'select'
        +select(data.element, data.id)
      when 'checkbox'
        +checkbox(data.element)
      default
        +input(data.element, data.id, data.type)

//- ==== FORMS END
