//- mixins

mixin icon(name, cssClass)
  svg.icon-svg(class=cssClass)
    use(xlink:href=`${URL_file('icons', baseUrlLvl, 'svg')}#${name}`)

//- ==== FORMS START
//- Wrapper
mixin formFieldWrapper(data)
  if data.exist
    - var attrWrapper = {};
    - attrWrapper.class = `form-field ${data.class ? data.class : ''}`;
    - attrWrapper.class += data.group ? ' form-group' : '';
    div&attributes(attrWrapper)
      block
  else
    block

//- Label
mixin label(label, id)
  if label.exist
    - var attrLabel = {};
    - attrLabel.for = id;
    - attrLabel.class = `label ${label.class ? label.class : ''}`;
    label&attributes(attrLabel)=label.text

//- Input
//- mixin input(data, id)


//- Select
mixin select(data, id)
  each select, index in data
    - var attrSelect = {}
    - attrSelect.id = !index && id
    - attrSelect.class = `js-select select-custom ${select.class ? select.class : ''}`;
    - attrSelect.class += select.theme ? ` select-custom--${select.theme}` : '';
    - attrSelect.class += select.size ? ` select-custom--${select.size}` : '';
    - attrSelect.disabled = select.disabled ? true : false;
    - attrSelect['data-placeholder'] = select.placeholder ? select.placeholder : false;
    - attrSelect['data-allow-clear'] = select.placeholder && select.allowClear ? 'true' : false;
    - attrSelect['data-theme'] = select.theme;
    - attrSelect['data-minimum-results-for-search'] = select.search ? false : '-1';
    - attrSelect['data-selection-css-class'] = `select2-selection--${select.size}`;
    - attrSelect['data-dropdown-css-class'] = `select2-dropdown--${select.size}`;
    select&attributes(attrSelect)
      if select.placeholder
        option
      for val in select.value
        option=val


//- Form Field
mixin formField(data)
  +formFieldWrapper(data.wrapper)
    +label(data.label, data.id)
    +select(data.element, data.id)

//- ==== FORMS END
